body{
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgb(255, 196, 0);
    width: 400px;
    margin-left: 400px;
    position: relative;top: 50px;
}
.edittheme{
    position: relative;right: 20px;
}