
<div class="main">
    <body>
        <div class="form">
        <form >
          <h3>Are you sure deleting this item ??</h3>
          <br>
          <br>
          <div class="container">
            <div class="row">
              <div class="col">
          <button  (click) = "deleteBook(book.book_id)" class = "btn btn-info " id="delete" type ="submit"> Yes</button>
          </div>
          <div class="col">
          <button (click) = "goToBookList()" class = "btn btn-info" id="No"> No</button>
          </div> 
          </div>
          </div>
    
    
        </form>
      </div>
        </body>
      </div>