<div id="Login">
    <img src="../assets/image/Pre.jpg"  height="400px" width="400px">
       
        <div class="form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
                <h2>Login</h2>  
    
                <label>Username:</label><br>
                <input type="text" 
                id="userName"  
                [(ngModel)]="user.userName" 
                formControlName="userName"
                placeholder="Enter the Username"><br>
                <span class="span" *ngIf="loginForm.get('userName').touched && loginForm.get('userName')?.invalid ">
                    Invalid Username
                </span><br>

                <label>Password:</label><br>
                <input type="password" 
                id="userPassword"
                [(ngModel)]="user.userPassword"
                formControlName="userPassword"
                placeholder="Enter the password">
                <br>
                <div class="text-danger"  *ngIf="loginForm.get('userPassword')?.touched &&loginForm.get('userName')?.invalid">
                    Invalid Password
                </div>
                
                <br>
                <button type="submit" [disabled]="!loginForm.valid">Submit</button>        
    
            </form>
        </div>
    </div>
    
    
    